body {
  background-color: lightgrey;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 900px;
  margin: auto;
}

nav {
  padding: 20px;
  background-color: #212121;
  margin: 0px;
  margin-top: 5px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #d50000;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #2F4050;
}