body {
  background-color: lightgrey;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 900px;
  margin: auto;
}

nav {
  padding: 20px;
  background-color: #212121;
  margin: 0px;
}

nav a {
  padding: 20px;
  height: 100%;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #484848;
  text-decoration: none;
  color: white;
}

nav #home {
  color:white;
  display: inline;
  font-size: 19px;
  margin-right: 5px;
}

h2 {
  padding-top: 20px;
}

h3 {
  padding-top: 20px;
}

.home-wrapper .calendar {
  margin: auto;
  width: 100%;
  margin-top: 10px;
}

.home-wrapper .left {
  margin-left: auto;
}

.home-wrapper .time {
  float: right;
}

.home-wrapper .add {
  display: block;
  text-decoration: none;
  background: none;
  border-style:none;
  border-color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  float: right;
  cursor:pointer;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 10px;
  font-size: 40px;
  line-height: 30px;
  background-color: #31313194;
}

.home-wrapper .add:hover {
  background-color: #d50000;
  color: white;
}

.sch-wrapper form{
  width: 400px;
  /*background-color: rgba(255, 255, 255, 0);*/
  background-color: #212121;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.sch-wrapper form *{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.sch-wrapper form:after {
  position: absolute;
  content: "";
  bottom: -40px;
  height: 40px;
  width: 1px;
}

.sch-wrapper form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.sch-wrapper form label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.sch-wrapper form input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.10);
  color: #ffffff;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.sch-wrapper form button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}