body {
  background-color: lightgrey;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 900px;
  margin: auto;
}

nav {
  padding: 20px;
  background-color: #212121;
  margin: 0px;
  margin-top: 5px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #d50000;
  text-decoration: none;
  color: white;
}

#home #nav_home a,
#employee #nav_emp a,
#store #nav_store a,
#about #nav_about a {
  color:#d50000
}